div.image-pool {
    display: none;
}

.list table {
	width: 100%;
    border-spacing: 0;
}

.list table td {
    height: 3.5em;
    padding: 0.5em;
}

.list table tbody tr.selected td {
    background-color: #eee;
    border-color: #eee;
}

.form {
	line-height: 3em;
}

button {
	padding: 1em;
}

input {
	padding: 1em;
}